# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*

# =========================
# Database
# =========================
*.sqlite
*.sqlite3

# =========================
# Migrations / runtime
# =========================
*.pid
*.sock

# =========================
# Coverage / testing
# =========================
.coverage
htmlcov/
pytest_cache/

# =========================
# Build artifacts
# =========================
build/
dist/
*.egg-info/
